.scrollable-div {
    background-color: rgba(180, 211, 131, 1);
    height: 600px;
    overflow: auto;
    margin: 10px;
    margin-top: 1rem;
    text-align: justify;
    padding: 20px;
    border-radius:20px;
  }